@font-face {
  font-family: 'Freehand';
  src: url('/public/fonts/Freehand/Freehand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caveat';
  src: url('/public/fonts/Caveat/Caveat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html {
  background-color: aliceblue;
}