---
import DeviceFrame from "../components/DeviceFrame.astro"
import Default from "../layouts/Default.astro";
import "../styles/global.css";
---

<Default title="mstfloty">
	<main>
		<h1 class="hero">mstflotfy</h1>
		<h2 class="landing__subtitle">Hi, I'm Mostafa Lotfy</h2>
		<h2 
			class="landing__subtitle landing__subtitle-small"
		>
			I explore & build tools for Productivity and SelfMastery
		</h2>
		<DeviceFrame />
	</main>
</Default>

<style scoped>
	.hero {
		font-family: "Freehand";
		font-size: 26vw;
		text-align: center;
		line-height: 1.6;
	}
	/* Add media Query to handle line height for smaller/larger devices */
	.landing__subtitle {
		font-family: "Gloria Hallelujah", monospace;
		text-align: center;
		font-size: 3.4rem;
		line-height: 6.4rem;
		font-weight: 300;
		color: var(--m-3-sys-light-on-surface);
		letter-spacing: -0.25px;
	}
	.landing__subtitle-small {
		font-size: 1.9rem;
		line-height: 4.4rem;
		color: var(--m-3-sys-light-primary);
		letter-spacing: 0px;
	}
</style>
