<footer class="footer">
  <section id="footer__main-links">

  </section>
  <section id="social-links">

  </section>
  <p>&copy; Mostafa Lotfy (mstflotfy) 2024. All rights reserved.</p>
</footer>

<style>
  .footer {
    background-color: var(--m-3-sys-light-surface-variant);
    height: 41rem;
    width: 100%;
    /* Figma design leaves 17.6rem (but seems too much!) */
    margin-top: 10.6rem;
    padding: 6.4rem 0;
    text-align: center;
  }
</style>